<head>
  
</head>
<body>
  <%= render "header"%>
    <div class="main">
      <div class="main__image"> 
        <%= image_tag 'hinata3.jpeg', class: "main__image-1" %> 
        <%= image_tag 'hinata1.jpeg', class: "main__image-3" %>
        <%= image_tag 'kuru1.jpeg', class: "main__image-2" %>
        <%= image_tag 'kuru2.jpeg', class: "main__image-4" %> 
        <%= image_tag 'hinata2.jpeg', class: "main__image-5" %>
      </div>
      <div class="message">
        <h2>〜陽大（ひなた）〜</h2>
        <p>1歳になりました。<br>
        歩き方の勉強中です！！！
        性格： 猪突猛進！ 負けず嫌い</p>

        <h2>〜クルトン〜</h2>
        <p>11歳の男の子<br>
        日々、ひなたに怯えながら生活してます。</p>
      </div>
    </div>
    

    
</body>

