<%= render "header"%>

<div class="list">
  <% @blogs.each do |blog|%>
    <div class="list__post" style="background-image: url(<%= blog.image %>);">
      <%= blog.name %>
      <%= blog.created_at.strftime("%Y-%m-%d %H:%M") %>
      <span class="list__post-text">
        <%= blog.text %>
      </span>
        <div class="list__post-name-time">
        </div>
    </div>
  <% end %>
</div>