
<div class="title">POSTING</div>

<%= form_with model: @blog, local: true do |f|%>
  
  <div class="title__image">
    <%= f.label :image, placeholder: "IMAGE URL", class: "image" do %>
    
    
      <%= icon("fas fa-camera", 'image', class: "image__label-icon") %>
      <%= f.file_field :image, class: "image__label-file"  %>
    <% end %>
  </div>
  <div class="title__video">
    <%= f.label :video, placeholder: "IMAGE URL", class: "image" do %>
      <%= icon("fas fa-tv", 'video', class: "image__label-icon") %>
      <%= f.file_field :video, class: "image__label-file"  %>
    <% end %>
  </div>
  <%= f.text_area :text, placeholder: "COMMENT", rows: "3", class: "text" %>
  <%= f.submit "PUSH ME", class: "btn"%>
<% end %>