

<div class="show">
  <div class="show__title">DETAILS</div>

  <div class="show__image" style="background-image: url(<%= @blog.image %>);">
  </div>
  <div class="show__time">
     <%= @blog.user.nickname %>
    <%= @blog.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  <div class="show__comment">
    <%= @blog.text %>
  </div>
  <div class="containar">
    <% if current_user %>
      <%= form_with(model: [@blog,@comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "comment", rows: "2", class: "container__comment" %>
        <%= f.submit "PUSH ME", class: "comment-btn"%>
  </div>
      <% end %>
    <% else %>
      <div class="tweet">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</div>
    <% end %>

  <div class="comments">
    <div class="comment__title">
      ~COMMENT LIST〜
    </div>
    <% if @comments %>
      <% @comments.each do |comment| %>
      <div class="comment__list">
        <% link_to comment.user.nickname, "/blogs/#{comment.user_id}" %>
        <%= @blog.user.nickname %>:
        <%= comment.text %>
      </div>
      <% end %>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.id == @blog.user_id %>
  <div class="show__btn">
    <div class="show__btn-edit">
      <%= link_to "EDIT", edit_blog_path(@blog.id), class: "show__btn-edit-btn"%>
    </div>
    <div class="show__btn-destroy">
      <%= link_to "DELETE", blog_path(@blog.id), method: :delete, class: "show__btn-destroy-btn"%>  
    </div>
  </div>
  <% end %>
</div>