<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Blog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" 
    <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="header__name">kuruhina
        <div class="header__name-menu">
          <ul class="header__name-menu-ul">
            <li class="header__name-menu-ul-home">
              <%= link_to "HOME", "/", class: "header__name-menu-ul-home-a" %>
            </li>
            <li class="header__name-menu-ul-list">
              <%= link_to "LIST", blogs_path, class: "header__name-menu-ul-list-a"%>
            </li>
            <% if user_signed_in?%>
              <li class="header__name-menu-ul-post">
                <%= link_to current_user.nickname, user_path(current_user), class: "header__name-menu-ul-post-a"%>
              </li>
              <li class="header__name-menu-ul-post">
                <%= link_to "POST", new_blog_path, class: "header__name-menu-ul-post-a"%>
              </li>
              <li class="header__name-menu-ul-signout">
                <%= link_to "SING OUT", destroy_user_session_path , method: :delete, class: "header__name-menu-ul-signout-a" %>
              </li>
            <% else %>
              <li class="header__name-menu-ul-login">
                <%= link_to "LOG IN",new_user_session_path , class: "header__name-menu-ul-login-a" %>
              </li>
              <li class="header__name-menu-ul-signin">
                <%= link_to "SIGN UP", new_user_registration_path , class: "header__name-menu-ul-signin-a" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
