<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" 
    <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="header__name">kuruhina
        <div class="header__name-menu">
          <ul class="header__name-menu-ul">
          <li class="header__name-menu-ul-home">
            <%= link_to "HOME", "/", class: "header__name-menu-ul-home-a" %>
          </li>
          <li class="header__name-menu-ul-post">
            <%= link_to "POST", new_blog_path, class: "header__name-menu-ul-post-a"%>
          </li>
          <li class="header__name-menu-ul-list">
            <%= link_to "LIST", blogs_path, class: "header__name-menu-ul-list-a"%>
          </li>
          <li class="header__name-menu-ul-topics">BIRTHDAY</li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
